<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MultipleViewControllersOnOneScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>922B420B1D3FD1D5008D7FF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>922B42241D3FD1D8008D7FF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>922B422F1D3FD1D8008D7FF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
